venv/
camera_vid/
*.pt
__pycache__/
node_modules/
light-ui/node_modules/

# files with hardcoded credentials / camera IPs
camera_stream.py
camera_stream2.py
camera_stream3.py
camera_map.py
camera_marking.py
detection.py
light-ui/homography.py
detection_2.py
detection_3.py
detection_4.py
old_detection.py
